.values {
  display: flex;
}

.values-title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-primary);
  font-weight: bold;
}

.values-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.values-item {
  max-width: 180px;
  transition: transform 0.5s ease;
}

.values-item:focus,
.values-item:hover {
  transform: scale(1.1);
}

.values-item-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values-item-subtext {
  text-align: center;
  color: var(--color-primary);
  font-size: var(--font-size-before-medium);
}

.values-item-image {
  width: 180px;
  border: 3px solid var(--color-button);
  border-radius: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .values-list {
    gap: 50px;
  }

  .values-title {
    font-size: var(--font-size-large);
    margin-bottom: 30px;
    color: var(--color-primary);
    font-weight: 900;
  }
}
