@import url(../../main.css);

.aboutus-header {
  margin-top: 50px;
  font-size: var(--font-size-large);
  text-align: center;
}

.team-member {
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-width: 900px;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  transition: transform 0.5s ease;
}

.team-member p {
  font-size: var(--font-size-before-medium);
  text-align: justify;
  margin-top: 20px;
  color: #666;
}

.team-member:hover {
  border-color: var(--color-button);
}

@media (min-width: 769px) {
  .team-member:hover {
    transform: scale(1.1);
  }
}
