.form-title {
	color: var(--color-primary);
	font-size: var(--font-size-medium);
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.form-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-label {
	font-weight: bold;
	font-size: var(--font-size-small);
}

.form-input,
.form-select {
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid var(--color-menu-border);
	border-radius: 4px;
	font-size: var(--font-size-small);
	transition: all 0.2s ease;
}

.form-input:hover,
.form-input:focus,
.form-select:hover,
.form-select:focus {
	border: 2px solid var(--color-button);
}

.form-select {
	cursor: pointer;
}

.form-message-input {
	padding: 40px;
}

.form-button {
	margin: 30px auto 0;
	padding: 10px;
	outline: none;
	border: transparent;
	width: 90%;
	font-size: var(--font-size-small);
}

.form-image {
	display: none;
}

form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
}

@media (min-width: 768px) {
	.form-wrap {
		flex-direction: row;
		justify-content: space-between;
	}

	.form-input,
	.form-select {
		font-size: var(--font-size-before-medium);
	}

	.form-label {
		font-size: var(--font-size-medium);
	}

	.form-button {
		width: 40%;
		font-size: var(--font-size-medium);
		margin: 30px 0 0;
	}

	.form-title {
		font-size: var(--font-size-large);
		margin: 0 auto 40px;
	}

	.form-image {
		display: block;
		width: 50%;
		height: 500px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	form {
		width: 40%;
	}
}
