@import url("../../../styles/main.css");
@import url(../../main.css);

.aboutus-header {
  margin-top: 50px;
  font-size: var(--font-size-large);
  text-align: center;
}

.team-member {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
  max-width: 900px;
  margin: 50px auto 0 auto;
  padding: 10px;
  transition: transform 0.5s ease;
}

.team-member p {
  font-size: var(--font-size-before-medium);
  text-align: justify;
  margin-top: 20px;
  color: #666;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 15%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #ccc;
}

.team-member figcaption {
  color: #333;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

.figure {
  display: flex;
  flex-direction: row;
  min-width: 240px;
  align-items: center;
}

.team-member:hover {
  border-color: var(--color-button);
}

@media (min-width: 769px) {
  .team-member:hover {
    transform: scale(1.1);
  }
}
